aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
openai==0.27.8
PyYAML==6.0.1
requests==2.31.0
tqdm==4.66.1
urllib3==1.26.16
yarl==1.9.2
iniconfig==2.0.0
packaging==23.1
pluggy==1.3.0
pytest==7.4.0
numpy==1.24.0
pandas==2.1.1
notional==0.8.0
notion2md==2.8.3
azure-storage-blob==12.18.1
langchain==0.0.292
langsmith==0.0.38
qdrant_client==1.5.4
fastapi==0.103.1
python-multipart==0.0.6
uvicorn==0.23.2
celery~=5.3.4
redis==4.6.0
rq==1.15.1
eventlet==0.33.3
tiktoken==0.5.1
text-generation==0.6.1
pyautogen==0.1.13
